<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="/logout">Sign Out</a></li>
							</ul>
						</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="default">
								<header class="major">
									<h2>Support</h2>
									<p>Mauris lectus odio, mattis nec velit eu, luctus dictum diam. Quis<br />
									tempus que ornare purus a bibendum ultricies.</p>
								</header>
								<div class="content">

									<h3>Questions?</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper.</p>

									<hr />

									<h3>About Me</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper.</p>

									<hr />

									<h3>You Got This!</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper.</p>

									<hr />

								</div>
							</section>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<section>
								<h3>Get in Touch</h3>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="#">contact@paulborowiecki.com</a></li>
									<li class="icon brands fa-twitter"><a href="#">@borojetski</a></li>
								</ul>
							</section>
						</div>
						<div class="copyright">
							<a href="https://github.com/borojetski/OpenCare">
								<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
							</a>
						</div>
					</section>

			</div>

<%- include('partials/footer') -%>