<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/dashboard">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="/logout">Sign Out</a></li>
							</ul>
						</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="default">
								<header class="major">
									<h2>Support</h2>
								</header>
								<div class="content">

									<h3>Questions?</h3>
									<p>This app was primarily created as a personal project. It was built to suit the needs of myself and my family. If you have any questions, feedback, or have ideas on how to improve this app to suit your needs, please let me know. My contact info is below.</p>

									<hr />

									<h3>Be Safe</h3>
									<p>Please don’t rely on this project to be your sole repository of all your tracking data. It’s meant as a quick reference tool for family members to all be on the same page. I hope that this might be of use to anyone else as a handy collaboration and tracking tool, but again, please minimize the amount of personal data that you input, as is good practice anywhere on the internet.</p>

									<hr />

									<h3>You Got This!</h3>
									<p>To anyone who needs to hear this, caring for a loved one or patient, whether for a long period or short, can be very difficult. In my personal experience, it was also extremely rewarding. Your well-being is essential too. If you ever find yourself in need of support or someone to talk to about your own mental health, please don't hesitate to reach out to a trusted friend, family member, or a mental health professional. One day at a time. You can do this.</p>

									<hr />

								</div>
							</section>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<section>
								<h3>Get in Touch</h3>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="mailto: contact@paulborowiecki.com">contact@paulborowiecki.com</a></li>
									<li class="icon brands fa-mastodon"><a href="https://techhub.social/@borojetski">@borojetski@techhub.social</a></li>
									<li class="icon brands fa-twitter"><a href="https://twitter.com/borojetski">@borojetski</a></li>
								</ul>
							</section>
						</div>
						<div class="copyright">
							<a href="https://github.com/borojetski/OpenCare">
								<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
							</a>
						</div>
					</section>

			</div>

<%- include('partials/footer') -%>