<!DOCTYPE HTML>
<html>
	<head>
		<title>OpenCare</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
						</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Banner -->
							<section id="banner">
								<header>
									<h2>Google Calendar</h2>
									<p>Sed feugiat tempus sem amet imperdiet</p>
								</header>
								<!-- <footer>
									<ul class="actions special">
										<li><a href="#" class="button large">Get Started</a></li>
									</ul>
								</footer> -->
							</section>

						<!-- One -->
							<section id="one" class="features">
								<header class="major">
									<h2>Medications</h2>
									<p>Mauris lectus odio, mattis nec velit eu, luctus dictum diam. Quis<br />
									tempus que ornare purus a bibendum ultricies.</p>
								</header>
								<div class="content">
									<section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Etiam sed feugiat</h3>
										<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipit euismod habitant lorem ipsum dolor.</p>
									</section>
									<section class="feature">
										<span class="icon major fa-save"></span>
										<h3>Ipsum et bibendum</h3>
										<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipit euismod habitant lorem ipsum dolor.</p>
									</section>
									<section class="feature">
										<span class="icon major fa-newspaper"></span>
										<h3>Sit lorem aliquam</h3>
										<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipit euismod habitant lorem ipsum dolor.</p>
									</section>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlight">
								<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
									<h2>Appointments</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="spotlight alt">
								<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
									<h2>Shopping List</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="spotlight">
								<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
									<h2>Porta vestibulum</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section>

						<!-- Five -->
							<section id="five" class="cta">
								<header>
									<h2>Sed euismod nullam</h2>
									<p>Odio mattis nec velit eu, luctus dictum diam. Quis<br />
									tempus que ornare purus a bibendum ultricies</p>
								</header>
								<ul class="actions special">
									<li><a href="#" class="button large">Get Started</a></li>
								</ul>
							</section>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<section class="about">
								<h3>Proin sed ultricies</h3>
								<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
							<section>
								<h3>Get in Touch</h3>
								<ul class="contact">
									<li class="icon solid fa-phone">(000) 000-0000</li>
									<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
									<li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>
									<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>
								</ul>
							</section>
							<section>
								<h3>Mailing Address</h3>
								<p>Untitled Corp<br />
								1234 Fictional Road<br />
								Suite 5432<br />
								Nashville, TN 00000<br />
								USA</p>
							</section>
						</div>
						<div class="copyright">
							<p>Copyright &copy; Untitled Corp. All rights reserved.</p>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>