<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/dashboard">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<ul class="links">
								<li><a href="/signup">Sign Up</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/login">Log In</a></li>
							</ul>
						</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="default">
								<header class="major">
									<h2>OPENCARE</h2>
									<p>A caregiver management app that tracks medications, appointments, <br />
									with collaboration tools to help keep everyone in sync.</p>
									<a href="/signup" class="button primary">Sign Up</a>
									<a href="/login" class="button primary">Login</a>
								</header>
								<div class="content">
									
									<h3>About</h3>
									<ul>
										<li>This is a collaborative tool and resource designed to assist individuals in caring for elderly, ill, or in-need loved ones. This project does not comply with the Health Insurance Portability and Accountability Act of 1996 (HIPAA) or other healthcare privacy and security regulations and is not intended for actual medical use. Users should refrain from entering personal health information. The app is provided "as-is" under the GPL 3.0 license.</li>
										<li>This project is a work in progress. It is designed to assist caregivers with a set of tools to coordinate and manage caregiving tasks. It should not be relied upon as the sole repository for all patient medical data, but rather as a quick reference tool.</li>
									</ul>									  
									<hr/>
									<h4>Getting Started</h4>
										<ol>
											<li>Sign up and create a user account.</li>
											<li>Add a patient or someone you're caring for.</li>
											<li>Optional:
												<ul>
													<li>Import a shared calendar.</li>
													<li>Add healthcare provider contact info.</li>
													<li>Create a medication list.</li>
													<li>Add any specific care notes.</li>
													<li>Add any dietary requirements or menu ideas.</li>
													<li>Create a shopping list.</li>
												</ul>
											</li>
											<li>Optional: If you prefer to self-host or link your own database, please reference <a href="https://github.com/borojetski/OpenCare">this open-source github repository</a>.</li>
										</ol>
								</div>
							</section>

					</div>

				<!-- Footer -->
				<section id="footer">
					<div class="inner">
						<section class="about">
							<h3>Disclaimer</h3>
							<p>This web application is an open source project and not intended for actual medical use. It does not comply with HIPAA or other healthcare privacy and security regulations. Users should not enter personal health information. The author makes no guarantees about privacy or security. This app is provided as-is under the GPL 3.0 license for demonstration purposes only. For any questions, concerns, or input please feel free to contact me.</p>
							<!-- <ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul> -->
						</section>
						<section>
							<h3>Get in Touch</h3>
							<ul class="contact">
								<li class="icon solid fa-envelope"><a href="#">contact@paulborowiecki.com</a></li>
								<li class="icon brands fa-twitter"><a href="#">@borojetski</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						<a href="https://github.com/borojetski/OpenCare">
							<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
						</a>
					</div>
				</section>

			</div>

<%- include('partials/footer') -%>