<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<ul class="links">
								<li><a href="/login">Log In</a></li>
								<li><a href="/signup">Sign Up</a></li>
							</ul>
						</div>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="default">
								<header class="major">
									<h2>OPENCARE</h2>
									<p>A caregiver management app that tracks medications, appointments, <br />
									with collaboration tools to help keep everyone in sync.</p>
									<a href="/signup" class="button primary">Sign Up</a>
								</header>
								<div class="content">
									
									<h3>Description</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem varius sagittis et a est.</p>

									<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam.</p>

									<hr />

									<h4>How to Use</h4>
									<p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam.</p>

									<p>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt.</p>
									
									<p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam.</p>

								</div>
							</section>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<!-- <section class="about">
								<h3>Proin sed ultricies</h3>
								<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section> -->
							<section>
								<h3>Get in Touch</h3>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="#">contact@paulborowiecki.com</a></li>
									<li class="icon brands fa-mastodon"><a href="https://techhub.social/@borojetski">@tech.social@borojetski</a></li>
									<li class="icon brands fa-twitter"><a href="https://twitter.com/borojetski">@borojetski</a></li>
								</ul>
							</section>
						</div>
						<div class="copyright">
							<a href="https://github.com/borojetski/OpenCare">
								<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
							</a>
						</div>
					</section>

			</div>

<%- include('partials/footer') -%>