<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/dashboard">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
							</ul>
						</div>
					</nav>

				<!-- Main -->
					<div id="main">
						<section id="content" class="default">
							<header class="major">
								<h2>Login</h2>
							</header>
							<div class="content">
								<form action="/login" method="POST">
									<div>
										<label for="inputEmail">Email address</label>
										<input type="email" id="inputEmail" name="email"/>
									</div>
									<div>
										<label for="inputPassword">Password</label>
										<input type="password" id="inputPassword" name="password"/>
									</div>
									</br>
									<button type="submit" class="button primary">Submit</button>
								</form>
							</div>
						</section>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="copyright">
							<a href="https://github.com/borojetski/OpenCare">
								<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
							</a>
						</div>
					</section>

			</div>

<%- include('partials/footer') -%>