///
/// Magnetic by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Contact */

	ul.contact {
		list-style: none;
		padding: 0;

		li {
			@include icon;
			padding: 0.65em 0 0 0;

			&:before {
				display: inline-block;
				width: 2.1em;
			}

			&:first-child {
				padding-top: 0;
			}
		}
	}